.terms-field {
	align-items: center;
	display: flex;
}

.terms-field input {
	appearance: none;
	border: 2px solid var(--color-icon);
	border-radius: .4rem;
	height: 1.8rem;
	position: relative;
	width: 1.8rem;
}

.terms-field input:checked {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
	color: var(--color-font-light);
}

.terms-field input:checked::after {
	content: '\2714';
	position: absolute;
	top: -.2rem;
}

.terms-field label {
	color: var(--color-font-dark);
	font-size: 1rem;
	margin-left: .4rem;
}

.terms-field label a {
	font-size: inherit;
	font-weight: 400;
}
